/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --dark-bg: #121212;
    --light-text: #e0e0e0;
    --card-bg: #1e1e1e;
    --border-color: #333;
    --button-bg: #007bff;
    --button-hover-bg: #0056b3;
    --navbar-bg: #ffffff;
    --navbar-scrolled-bg: #303030;
    --active-link-color: blue;
    --box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.1); /* Light shadow */
}

body {
    background-color: var(--dark-bg) !important;
    color: var(--light-text) !important;
    font-family: var(--font-family);
}

img {
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

footer,
.header, 
.footer {
    background-color: var(--dark-bg) !important;
    color: var(--light-text) !important;
}

.detail-box {
    background-color: var(--dark-bg) !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.head {
    min-height: 35vh;
    background-image: url(../images/wraper.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-close {
    position: absolute;
    top: 20%;
    right: 10%;
}

.lead {
    font-size: 1rem !important;
    padding-bottom: 20px;
}

.card {
    background-color: var(--card-bg) !important;
    color: var(--light-text) !important;
    border: 1px solid var(--border-color) !important;
}

.card:hover {
    transform: scale(1.015);
    transition: transform 0.5s ease;
}

.button, .btn {
    background-color: var(--button-bg) !important;
    color: #ffffff !important;
}

.button:hover, .btn:hover {
    background-color: var(--button-hover-bg) !important;
}

#navbar {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: var(--navbar-bg) !important;
    border-radius: 20px;
}

#navbar.scrolled {
    background-color: var(--navbar-scrolled-bg) !important;
    color: #ffffff !important;
    border-radius: 20px;
}

#navbar.scrolled a {
    color: #000000 !important;
}

.nav-link {
    color: #000;
    font-weight: 500;
}

.nav-link.active {
    color: var(--active-link-color);
    font-weight: 700;
}
